# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib



# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor
test
.idea
done
/BS4/PHUB/data/
/BS4/XM/data/
GB/
.fleet
report.md
Solution.sh
__pycache__
users.txt
*.mp4
*.m4s
*.log
*.zip
*.rpm
*.deb
*.blockmap
*.jpg
*.png
*.mp3
*.amr
*.html
.DS_Store
#忽略产生的中间文件
info.txt
list.txt
build
dist
forWin64.exe
forWin32.exe
forRaspi
forMac
forM1
forLinux32
forLinux64
forAndroid
forRaspi64